* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  background-color: rgb(31, 54, 86);
}
.field {
  width: 600px;
  height: 600px;
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-collapse: collapse;
  border: 3px solid coral;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  border: 3px solid coral;
  font-size: 4em;
  cursor: pointer;
}
.cell:hover {
  background-color: bisque;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 100%;
}
.inner-circle {
  border-radius: 100%;
  width: 75px;
  height: 75px;
  background-color: antiquewhite;
}
.cross {
  font-size: 8rem;
}

.players {
  display: flex;
  width: 600px;
  justify-content: space-between;
  font-size: 3rem;
  color: antiquewhite;
}
.player {
  opacity: 50%;
}
.highlight {
  text-shadow: 1px 1px 2px white;
  color: antiquewhite;
  opacity: 100%;
}
.button-wrap {
  padding: 20px 0;
  width: 600px;
}
.new-game {
  width: 200px;
  height: 60px;
  background-color: coral;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
}
