* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.field {
  width: 600px;
  height: 600px;
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-collapse: collapse;
  border: 3px solid coral;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  border: 3px solid coral;
  font-size: 4em;
}
.cell:hover {
  background-color: bisque;
}
