* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.field {
  width: 600px;
  height: 600px;
  background-color: green;
  display: grid;
  grid-template-columns: auto auto auto;
  border-collapse: collapse;
  border: 3px solid coral;
}

.cell {
  background-color: bisque;
  border: 3px solid coral;
}
